In [1]:
import pandas as pd
import numpy as np

In [7]:
df_201902 = pd.read_csv("data/PI_316201902.csv", low_memory=False)
df_201902[df_201902["REGN"] == "1481"] # Сбербанк

,REGN,TIP,OKATO,PREDR_K,PREDR_O,PREDV_K,PREDV_O,SVSK_R,SVSK_V,SVS_R,...,DKREDR_K,DKREDV_K,ZDLR,ZDLV,ZDLPRR,ZDLPRV,SSKRR,SSKRV,SPSR,SPSV
10464,1481,1,1000,787,1171164.53922,0,0,207.7,0,10.3,...,52328,0,46387173.35081,0,357475.6413,0,161.6,0,10.395,0
10465,1481,1,3000,1588,2921700.38825,0,0,223.2,0,10.5,...,93384,10,107024417.67777,15451.24604,1488248.36208,131.59554,177.7,165.2,10.607,11.457
10466,1481,1,4000,1213,2152489.45502,0,0,191.1,0,10.2,...,83785,0,90699250.61399,0,1406976.33118,0,153,0,10.563,0
10467,1481,1,5000,557,1302166.64801,0,0,204.7,0,10.2,...,27154,4,40894632.73334,3656.1977,274604.55467,1737.68856,165.4,100.7,10.275,11.794
10468,1481,1,7000,1072,1720859.56973,0,0,215.1,0,10.4,...,55297,36,53569957.43057,12497.7077,536378.39614,3078.78088,174.7,79,10.534,10.998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81005,1481,2.1,95000,190,300732.21497,0,0,196.1,0,10.4,...,13843,0,13760914.76619,0,152647.61876,0,153.9,0,10.443,0
81006,1481,2.1,96000,65,139286.18661,0,0,226.8,0,10.4,...,1555,0,2647370.37225,0,74586.86552,0,185.2,0,10.392,0
81007,1481,2.1,97000,813,1220434.77352,0,0,213.4,0,10.1,...,44183,1,42573893.96923,3787.93001,152848.73434,3787.93001,172.3,0,10.203,0
81008,1481,2.1,98000,542,1463793.45866,0,0,208.3,0,10.4,...,33100,0,63374488.56116,0,546257.61474,0,171.9,0,10.543,0
81009,1481,2.1,99000,71,141057.89264,0,0,211,0,10.3,...,3206,0,3732963.79162,0,31543.07159,0,166.7,0,10.359,0